.sx-react-calendar-wrapper {
	width: calc(100vw-var(--sidebar-width));
	height: 800px;
	max-height: 85vh;
}

.sx__calendar-wrapper {
	scrollbar-color: black transparent;
}

.is-dark .sx__calendar-wrapper {
	scrollbar-color: #fff transparent;
}

.sx__event-modal {
	scrollbar-width: thin;
}

.sx__view-container {
	scrollbar-width: thin;
}

:root {
	--sx-color-background: #fafafa;
}

.is-dark {
	--sx-color-background: #18181b;
}

.sx__event-modal {
	border-radius: 0.5rem;
}

@media (max-width: 400px) {
	.sx__event-modal {
		max-width: 350px;
	}
}

@media (max-width: 350px) {
	.sx__event-modal {
		max-width: 300px;
	}
}
